<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" type = "text/css" href = "cardStyle.css"> 
    <link rel = "stylesheet" type = "text/css" href = "https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/ >
</head>
<body>
    

<div class="container">
   <h1 class="h1">Agro product </h1>

   <div class="card">
      <div class="card-img">
        <img src="egg.jpg" class="img" alt="">
      </div>

    <div class="card-title">
        <h3>      Egg    </h3>
        <h3>Size  : Big</h3>
        <h3 class="price">Price:  10 Taka Per Piece</h3>

         <i class="fas fa-plus icon"></i>
         <input class="input" type="button" value="0">
         <i class="fas fa-minus icon"></i>
         <span class="item">Your Item BDT</span>
         </div>

      </div>

    <div class="clear"></div>
    <hr class="hr-style">
     

    <div class="card">
        <div class="card-img">
          <img src="Banana.jpg" class="img" alt="">
        </div>
  
      <div class="card-title">
          <h3>      Banana    </h3>
          <h3>Size  : Medium</h3>
          <h3 class="price">Price:  8 Taka Per Piece</h3>
  
           <i class="fas fa-plus icon"></i>
           <input class="input" type="button" value="0">
           <i class="fas fa-minus icon"></i>
           <span class="item">Your Item BDT</span>
           </div>
  
        </div>

    </div>

    <div class="fixed">
        <h1 class="total">The Total Ammount of</h1>
        <h2>Product Ammount : 00</h2>
        <h2>Delivery Charge : 30</h2>
        --------------------------------------------------------------------------------
        <h2>Total Product Amount : 00</h2><br>
        <hr><br><br>
        <h4 class="kupon">Kupon Code</h4><br>
        <h4 class="code">Your Code Is : AHN50 </h4>
        <input class="kuponinput" type="text" placeholder="Your Kupon Code...">

        <button class="apply">Apply</button>
    </div>

    <!----JavaScript link---->

  <script src="index.js"> </script>

</body>
</html>